*.pyc
__pycache__
.idea/


*.bundle.*
lib/
node_modules/
*.egg-info/
.ipynb_checkpoints
*.tsbuildinfo
jupyterlab_git/labextension

shoes/
coco/
default_checkpoints/
_default_checkpoints/
resources/

.Trash-0/
